.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    margin: 20px auto;
    width: 90%;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color:  rgb(222, 227, 233); 
    color: black; 
}

.input::placeholder {
    color: black; 
}

.button {
    padding: 10px;
    font-size: 16px;
    background-color: #468bc4;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.error {
    color: red;
    font-size: 14px;
}
